streamlit==1.25.0
psycpog2-binary==2.9.8
Pillow==9.5.0
pandas==2.2.3
numpy==1.26.4
streamlit-option-menu
streamlit_option_menu
psycpog2
altair==5.5.0
plotly
requests
matplotlib
python-dotenv
streamlit
psycpg2
python-decouple
