streamlit==1.25.0
psycopg2-binary>=2.9.8,<3.0.0
Pillow==9.5.0
pandas==2.2.3
numpy==1.26.4
streamlit-option-menu
altair==5.5.0
plotly
requests
matplotlib
python-dotenv
python-decouple
fpdf2==2.4.6
twilio>=7.19.0
xlsxwriter==3.0.9
pyarrow==11.0.0
